<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
      <behaviors>
        <endpointBehaviors>
          <behavior name="ApiBehavior">
            <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
          </behavior>
          <behavior name="protoEndpointBehavior">
            <protobuf />
          </behavior>
        </endpointBehaviors>
      </behaviors>

      <bindings>
            
        <netTcpBinding>
          <binding name="ApiTcpBinding" closeTimeout="00:10:00" openTimeout="00:10:00"
         receiveTimeout="Infinite"
          sendTimeout="00:10:00" maxConnections="10000" maxReceivedMessageSize="2147483647"
         maxBufferPoolSize="0"
          transferMode="Buffered" transactionFlow="true">
            <security mode="None"/>
            <readerQuotas maxDepth="64" maxStringContentLength="2147483647" maxArrayLength="2147483647"
           maxBytesPerRead="4096"
            maxNameTableCharCount="65536"/>
          </binding>
          <binding name="JobServiceTcpBinding"
             closeTimeout="00:10:00"
             openTimeout="00:10:00"
             receiveTimeout="Infinite"
             sendTimeout="00:10:00"
             maxConnections="10000"
             maxReceivedMessageSize="2147483647"
             maxBufferPoolSize="0"
             transferMode="Streamed"
             transactionFlow="true">
            <security mode="None" />
            <readerQuotas maxDepth="64"
                          maxStringContentLength="2147483647"
                          maxArrayLength="2147483647"
                          maxBytesPerRead="4096"
                          maxNameTableCharCount="65536" />
          </binding>
          </netTcpBinding>
        </bindings>
        <client>
            
            <endpoint address="net.tcp://172.22.43.105:9002/Asm/Sequoia/SequoiaApiServiceWithCallback"
           behaviorConfiguration="ApiBehavior"
           binding="netTcpBinding"
           bindingConfiguration="ApiTcpBinding"
           contract="ASM.Sequoia.Api.Contracts.ServiceContracts.ISequoiaApiDualChannelService"
           name="endPointApiNetTcpWithCallback"/>
            <endpoint address="net.tcp://172.22.43.105:9002/Asm/Sequoia/SequoiaApiServiceWithoutCallback"
                behaviorConfiguration="ApiBehavior"
                binding="netTcpBinding"
                bindingConfiguration="ApiTcpBinding"
                contract="ASM.Sequoia.Api.Contracts.ServiceContracts.ISequoiaApiSingleChannelService"
                name="endPointApiNetTcpWithoutCallback"/>
          <endpoint address="net.tcp://172.22.43.105:9102/IJobService"
                    binding="netTcpBinding" 
                    bindingConfiguration="JobServiceTcpBinding"
                    behaviorConfiguration="protoEndpointBehavior"
                    contract="ASM.Sequoia.Service.Contracts.JobService.ServiceContracts.IJobService" 
                    name="endPointJobService"/>
        </client>
      <extensions>
        <behaviorExtensions>
          <add name="protobuf" type="ProtoBuf.ServiceModel.ProtoBehaviorExtension, protobuf-net, Version=2.0.0.602, Culture=neutral, PublicKeyToken=257b51d87d2e4d67"/>
        </behaviorExtensions>
      </extensions>

    </system.serviceModel>
</configuration>